@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --primary-color: #F4D03F;
    --dark-grey: #6B7280;
    --off-white: #F3F4F6;
    --background-shade: #FDF9E7;
}

body {
    font-family: 'Montserrat', 'sans-serif';
    margin: 0;
}

hr {
    margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
    margin-top: 6rem;
}

/** container **/

.container {
    padding: 1rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: .5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    /* color: white; */
    /* border: 1px solid white; */
    border: 1px solid var(--primary-color);
    border-radius: .5rem;
}

/** lists **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** Navigation **/

.navigation {
    color: white;
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
    transition: all .2s ease;
}

.navigation .link:hover {
    font-size: 1.1rem;
}

.navigation .link-active {
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/** Header **/

.hero {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.hero-home {
    padding-top: 10rem;
    height: 60vh;
}

.hero .hero-image {
    display: block;
    margin: auto;
    max-width: 350px;
}

.hero .hero-heading {
    color: var(--dark-grey);
    margin-top: 2rem;
    margin: 1rem;
    text-align: center;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.hero .hero-text {
    text-align: center;
    color: var(--primary-color);
}

/** Sections **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--background-shade);
}

/** Footer **/

.footer {
    /* background-color: var(--primary-color); */
    padding: 2rem 1rem;
    text-align: center;
    border-top-right-radius: 1rem;
    background-color: var(--primary-color);
}

.footer-rest {}

.footer .link {
    color: white;
    font-weight: bold;
}

.footer-rest .link {
    color: white;
}

.footer .footer-header {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0;
}

.footer-image {
    max-width: 250px;
    margin: 1rem;
}

.footer-end {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

/** Blog **/

.blog-image {
    display: block;
    /* margin: auto; */
    max-width: 650px;
    padding: 2rem;
}

.blog-date {
    font-size: 1rem;
    margin-left: 1.5rem;
}

.blog-text {
    font-size: 1.1rem;
}

.first-letter {
    font-size: 3rem;
}

ion-icon {
    font-size: 1.8rem;
    line-height: 120%;
	vertical-align: middle;
    margin-top: -5px;
    margin-right: 0.2rem;
}